@import "../../_globalColor";

.footer-text {
  user-select: none;
  text-align: center;
  font-size: 15px;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
